<p #paragraph1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ullam amet nemo dignissimos neque possimus perspiciatis! Dicta quia quo optio delectus ea qui libero quos quas? Saepe minus quaerat temporibus! </p>

<p #paragraph2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ullam consectetur suscipit quaerat error nihil cupiditate veniam autem, dolorem aliquid voluptates quia? Facere aut accusamus aliquam officia pariatur eos iure repellat libero optio unde! Quisquam magni expedita quos harum placeat sunt aperiam, repudiandae rem.</p>
<p *ngIf='note'>{{note}}</p>
