<h2>Sign Up</h2>
<form (ngSubmit)="register()" 
 [formGroup]="userForm">
  <div>
    <label>Username</label>
    <input formControlName="username">
    <div *ngIf="userForm.get('username').dirty && userForm.get('username').hasError('required')">
      Username is required
    </div>
    <div *ngIf="userForm.get('username').dirty && userForm.get('username').hasError('minlength')">
      Username should be 3 characters min
    </div>
    <div *ngIf="userForm.get('username').dirty && userForm.get('username').hasError('alreadyUsed')">
      Username alreadyUsed
    </div>
  </div>
  <div formGroupName="passwordForm">
    <div>
      <label>Password</label>
      <input type="password" formControlName="password">    
      <div *ngIf="passwordForm.get('password').dirty && passwordForm.get('password').hasError('required')">
        Password is required
      </div>
    </div>
    <div>
      <label>Confirm</label>     
      <input type="text" formControlName="confirm">
      <div *ngIf="confirmCtrl.dirty && confirmCtrl.hasError('required')">
        Confirm required
      </div>
    </div>
    <div *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">
      Your password does not match
    </div>
  </div>
  <div>
    <label>Birth Date</label>
    <input type="date" formControlName="birthdate">
    <div *ngIf="birthdateCtrl.dirty">
      <div *ngIf="birthdateCtrl.hasError('required')">
        Birth date is required
      </div>
      <div *ngIf="birthdateCtrl.hasError('tooYoung')">
        You're too young
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
  <button type="button" (click)="reset()"
   [disabled]="userForm.invalid">Reset</button>
   <div>{{userForm.value | json}}</div>
</form>